.webplayer-music-tile-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.playlist-music-tile {
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 60px;
    width: 100%;
    color: white;    
    margin: 0px 10px 0px 10px;
    transition: .5s;
}

.playlist-music-tile:hover {
    background-color: hsla(0,0%,100%,.1);
    border-radius: 5px;
    margin: 0px 10px 0px 10px;
}

ul {
   padding-inline-start: 0px; 
}
.playlist-music-play-button {
    height: 30px;
    width: 30px;
}
.playlist-music-tile-line-item {
  margin-top: 0px;
  padding-inline-start: 0px;
}

.playlist-music-tile-photo {
    height: 40px;
    width: 40px;
    margin-right: 16px;
}

.playlist-music-tile-name {
    width: 200px;
}

.playlist-music-tile-number {
    text-align: center;
    width: 50px;
    margin-right: 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: normal;
    text-transform: none;
    color: #b3b3b3;
    transition: .5s;
}

.playlist-music-tile-number-container {
    width: 50px;
}

/* .playplaylist-music-tile-play-buttonlist-music-tile > .playlist-music-tile-number-container:hover {
    visibility: hidden;
} */

.playlist-music-tile-play-button .playlist-song-tile-container:hover{
    display: block;
    height: 20px;
    width: 25px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: white;
    z-index: 1;
}

.playlist-music-tile-artist {
    width: 200px;
}

.playlist-music-tile-audio {
 display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.playlist-music-tile-audio-file {
display: none;
}

.playlist-song-tile-container {
    display: flex;
    flex-direction: column;
}

.playlist-music-tile-play-button {
    display: none;
    width: 30px;
    width: 30px;
}

/* .playlist-music-tile:hover > .playlist-music-tile-audio > .playlist-music-tile-play-button {
    display: block;
} */

.playlist-music-tile:hover > .playlist-music-tile-audio {
  left: 0;
  height: 40px;
  width: 40px;
  background-color: #1eba54;
  color: #1eba54;
  border-radius: 50%;
  position: absolute;
  bottom:  17px;
  z-index: 2;
  /* opacity: 1; */
  box-shadow: 0px 0px 5px 0px #131313;
}
