
.playlist-show-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #121212;
  width: 100%;
  height: calc(100vh - 150px);
  overflow: scroll;
}

.background-header-image-playlist-show {
    position: fixed;
    background-image: url("https://t.scdn.co/images/fd7b652335c349899cb8e8e302c87528");
    height: 400px;
    width: 100%;
    background-position: 50% 15%;
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}   

.playlist-subheader-show {
    padding: 0px 0px 0.08em 30px;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    color: white;
}

.playlist-show-title {
    padding: 0.08em 0px 0.08em 30px;
    font-size: 72px;
    line-height: 72px;
    font-weight: bolder;
    color: white;
}

.playlist-show-description {
    padding: 0.08em 0px 30px 30px;
    color: hsla(0,0%,100%,.7);
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown-content {
  display: none;
  position: absolute;
  /* top: 0px;
  left: 0px; */
  background-color: #282828;
  min-width: 160px;
  padding: 10px;
  z-index: 1;
  box-shadow: 0 16px 24px rgba(0,0,0,.3), 0 6px 8px rgba(0,0,0,.2);
  border-radius: 4px;  
}
.dropdown-content-flex {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.play-pause-like-delete-container {
    margin-top: 400px;
    width: 240px;
    height: 100px;
    padding: 10px 50px 0px 30px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.playlist-music-audio {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color:  #1eba54;
    transition: .5s;
}

.liked-button {
    color: #1eba54;
    padding: 20px;
    background: transparent;
    border: 0;
}

.dropdown .three-dot-options {
    color: hsla(0,0%,100%,.6);
    padding: 10px 10px 20px 10px;
    background: transparent;
    border: 0;
    letter-spacing: 2px;
    font-size: 24px;
}

.three-dot-options:hover {
    color: white;
}

.playlist-music-audio:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    width: 65px;
    border-radius: 50%;
    background-color:  #1eba54;
}

.dropdown:hover .dropbtn {
  background-color: #282828;
  color: white;
}

.delete-playlist-button {
    padding: 5px;
    font-weight: 100;
}

.dropdown-content .delete-playlist-button:hover {
  background-color: hsla(0,0%,100%,.1);
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}
