@import './session/login.css';
@import './session/signup.css';
@import './splash/splash.css';
@import './splash/nav_bar.css';
@import './splash/footer.css';

body {
    font-family: Proxima Nova Alt;
    text-decoration: none;
    margin: 0;
}

a {
  color: inherit;
  text-decoration: none; 
}


