.modal-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: none;
    position: fixed;
    top: 0;  
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9); 
    z-index: 10;
}

.inner-modal-container {
    position: relative;
}

.create-playlist-modal {
    height: 100%;
    width: 100%;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.x-icon {
    font-weight: 100;
    color: white;
    font-size: 48px;
    line-height: 56px;
    padding-left: 600px;
    padding-right: 600px;
    text-align: center;
}

.x-icon-style {
    background-color: transparent;
    font-weight: 100;
    color: white;
    font-size: 48px;
    border: none;
}

.create-playlist-input-bar {
    width: 100%;
    height: 100px;
    background-color: #282828;
    padding: 32px 400px;
}

.cancel-create-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.playlist-cancel-button {
    margin-right: 10px;
}
.playlist-create-button {
    margin-left: 10px;
    border: none;
}

.new-playlist-input-text {
    background-color: #282828;
    border: none;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -.005em;
    font-weight: var(--glue-font-weight-black);
    color: #fff;
    text-transform: none;
    caret-color: #1db954;
    box-sizing: border-box;
    width: 800px;
    background-color: transparent;
}
.new-playlist-input-title {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: .015em;
    font-weight: var(--glue-font-weight-bold);
    color: #fff;
    text-transform: none;
    margin-bottom: .5em;
}

.create-new-playlist-container {
    font-size: 48px;
    line-height: 56px;
    padding-left: 600px;
    padding-right: 600px;
}

.playlist-cancel-button {
    color: white;
    background-color: transparent;
    border-radius: 500px;
    padding: 8px 34px;
    text-transform: uppercase;
    border: 1px solid #535353;
    font-size: 12px;
    line-height: 18px;
    font-weight: 700;
    letter-spacing: 1.76px;
    display: inline-block;
    text-align: center;
}

.playlist-create-button {
    color: white;
    border-radius: 500px;
    padding: 8px 34px;
    background-color: #1EBA54;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 18px;
    font-weight: 700;
    letter-spacing: 1.76px;
    display: inline-block;
    text-align: center;
}

.playlist-cancel-button:hover {
    line-height: 18px;
}

.playlist-create-button:hover {
    line-height: 18px;
}