.internal-nav-bar-container {
    display: flex;
    height: 100vh;
    width: 275px;
    background-color: #040404;
}

#internal-white-splash-logo {
    width:120px;
    height: auto;
    position: absolute;
    top: 2.5%;
    left: 1.5%;
}

.internal-home-link {
    color: white;
    fill: #ffffff;
    background-color: #282828;
    padding-right: 80px; 
    border-radius: 5px;
    padding-left: 25px; 
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 10px 5px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.internal-home-link:hover {
    color: white;
}




.internal-search-link {
  color: #B3B3B3;
  padding-right: 80px ;  
  border-radius: 5px;
  padding-left: 25px; 
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 10px 5px;
  padding-top: 5px;
}

.internal-library-link {
    color: #B3B3B3;
   margin: 10px 5px;
   padding-right: 80px;  
   border-radius: 5px;
   padding-left: 25px; 
   display: flex;
   align-items: center;
   flex-direction: row;
   padding-top: 5px;
}

.open-create-playlist-modal {
    background-color: black;
    border: none;
    color: #B3B3B3;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: normal;
    text-transform: none;
    padding-top: 0%;
    margin-top: 0%;
    padding-top: 8px;
    padding-bottom: 8px;
}

.internal-nav-link {
   color: #B3B3B3;
   font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: normal;
    text-transform: none;
    margin-left: 20px;
}

.liked-songs-nav-img {
    height: 28px;
    width: auto;
}

.internal-nav-home-icon {
    padding-right: 20px;
}
.internal-nav-column {
    position: absolute;
    top: 9%;
} 

.playlist-header {
    color: #B3B3B3;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: normal;
    text-transform: none;
    padding-left: 30px;
    letter-spacing: .2em;
    margin-top: 30px;
}

.internal-create-playlist-link {
    color: #B3B3B3;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: normal;
    text-transform: none;
    padding-left: 30px;
    letter-spacing: .2em;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
}

.internal-create-playlist-link:hover {
    color: white;
}
#hover-white {
    transition: .5s;
}

#hover-white-home {
    color: white;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: normal;
    text-transform: none;
    margin-left: 20px;
}

#hover-white:hover {
     color: white;
}

.internal-liked-songs-link:hover {
    color: white;
}

.open-create-playlist-modal:hover {
    color: white;
}

.internal-liked-songs-link {
    color: #B3B3B3;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: normal;
    text-transform: none;
    padding-left: 30px;
    letter-spacing: .2em;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.internal-nav-line {
    margin: 25px 10px;
    border: 1px solid #282828;
    background-color: #040404;
}

.user-playlists {
    letter-spacing: .015em;
    font-size: 14px;
    font-weight: var(--glue-font-weight-normal);
    display: flex;
    flex-direction: column;
}

.webplayer-playlist-tile-line-item {
    display: flex;
}