.webplayer-body-container {
  display: flex;
  background-color: #121212;
  width: 100%;
  align-items: flex-start;
  flex-direction: column;
  height: calc(100vh - 150px);
  overflow: scroll;
}

.webplayer-music-tile-line-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 5px;
  padding-inline-start: 40px;
}

.webplayer-music-tile {
  /* background-image: url("https://thumbs.dreamstime.com/b/shiny-gold-glitter-background-your-creative-design-work-high-resolution-photo-151810707.jpg"); */
  position: relative;
  width: 184px;
  height: 258px;
  background-color: #272722;
  margin: 10px;
  border-radius: 5%;
  overflow: hidden;
}

.webplayer-music-tile:hover > .webplayer-music-tile-audio {
  left: 0;
  height: 40px;
  width: 40px;
  background-color: #1eba54;
  color: #1eba54;
  border-radius: 50%;
  margin-left: 125px;
  position: absolute;
  bottom:  17px;
  z-index: 2;
  opacity: 1;
  box-shadow: 0px 0px 5px 0px #131313;
}

.webplayer-music-tile:hover > .webplayer-music-tile-audio > .webplayer-music-tile-play-button {
    display: block;
}

.webplayer-music-tile-photo {
  width: 150px;
  height: 150px;
  border-radius: 15%;
  padding: 17px;
}
.webplayer-music-tile-audio-file {
    display: none;
}
.webplayer-music-tile-audio {
  /* opacity: 0;
  transition: opacity 0.2s ease-in-out; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.webplayer-music-tile-play-button {
    display: none;
    width: 30px;
    width: 30px;
}

.webplayer-music-tile-pause-button {
    display: none;
    width: 30px;
    width: 30px;
}

.webplayer-music-tile-name {
  font-size: 16px;
  color: #ffffff;
  padding-left: 20px;
  padding-right: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.webplayer-music-tile-artist {
  font-family: 'lineto-circular-book';
  font-size: 10px;
  color: #b3b3b3;
  padding-left: 20px;
  padding-right: 20px;
}

.fabify-fab-mode-title-div {
  display: block;
  color: hsla(0, 0%, 0%, .9);
  height: 140px;
  left: 0;
  letter-spacing: 5px;
  margin: -80px 0 0 0;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 10%;
  width: 100%; 
  animation: move linear 2000ms infinite;  
}

@keyframes move {
  0% {
    text-shadow:
      4px -4px 0 hsla(0, 100%, 50%, 1), 
      3px -3px 0 hsla(0, 100%, 50%, 1), 
      2px -2px 0 hsla(0, 100%, 50%, 1), 
      1px -1px 0 hsla(0, 100%, 50%, 1),
      -4px 4px 0 hsla(180, 100%, 50%, 1), 
      -3px 3px 0 hsla(180, 100%, 50%, 1), 
      -2px 2px 0 hsla(180, 100%, 50%, 1), 
      -1px 1px 0 hsla(180, 100%, 50%, 1)
    ;
  }
  25% {    
    text-shadow:      
      -4px -4px 0 hsla(180, 100%, 50%, 1), 
      -3px -3px 0 hsla(180, 100%, 50%, 1), 
      -2px -2px 0 hsla(180, 100%, 50%, 1), 
      -1px -1px 0 hsla(180, 100%, 50%, 1),
      4px 4px 0 hsla(0, 100%, 50%, 1), 
      3px 3px 0 hsla(0, 100%, 50%, 1), 
      2px 2px 0 hsla(0, 100%, 50%, 1), 
      1px 1px 0 hsla(0, 100%, 50%, 1)      
    ;
  }
  50% {
    text-shadow:
      -4px 4px 0 hsla(0, 100%, 50%, 1), 
      -3px 3px 0 hsla(0, 100%, 50%, 1), 
      -2px 2px 0 hsla(0, 100%, 50%, 1), 
      -1px 1px 0 hsla(0, 100%, 50%, 1),
      4px -4px 0 hsla(180, 100%, 50%, 1), 
      3px -3px 0 hsla(180, 100%, 50%, 1), 
      2px -2px 0 hsla(180, 100%, 50%, 1), 
      1px -1px 0 hsla(180, 100%, 50%, 1)
    ;
  }
  75% {
    text-shadow:
      4px 4px 0 hsla(180, 100%, 50%, 1), 
      3px 3px 0 hsla(180, 100%, 50%, 1), 
      2px 2px 0 hsla(180, 100%, 50%, 1), 
      1px 1px 0 hsla(180, 100%, 50%, 1),
      -4px -4px 0 hsla(0, 100%, 50%, 1), 
      -3px -3px 0 hsla(0, 100%, 50%, 1), 
      -2px -2px 0 hsla(0, 100%, 50%, 1), 
      -1px -1px 0 hsla(0, 100%, 50%, 1)      
    ;
  }
  100% {
    text-shadow:
      4px -4px 0 hsla(0, 100%, 50%, 1), 
      3px -3px 0 hsla(0, 100%, 50%, 1), 
      2px -2px 0 hsla(0, 100%, 50%, 1), 
      1px -1px 0 hsla(0, 100%, 50%, 1),
      -4px 4px 0 hsla(180, 100%, 50%, 1), 
      -3px 3px 0 hsla(180, 100%, 50%, 1), 
      -2px 2px 0 hsla(180, 100%, 50%, 1), 
      -1px 1px 0 hsla(180, 100%, 50%, 1)
    ;
  }  
}
