.webplayer-body-container {
    display: flex;
    background-color: #121212;
    width: 100%;
    align-items: flex-start;
    flex-direction: column;
    height: calc(100vh - 150px);
    overflow: scroll;
}

.webplayer-music-tile-line-item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 5px;
}

.webplayer-music-tile {
    width: 184px;
    height: 258px;
    background-color: #272727;
    margin: 10px;
    border-radius: 5%;
}

.webplayer-music-tile-photo {
    width: 150px;
    height: 150px;
    border-radius: 5%;
}

.webplayer-music-tile-name {
    font-size: 16px;
    color: #FFFFFF; 
    padding-left: 20px;
    padding-right: 20px;
}

.webplayer-music-tile-artist {
    font-size: 10px;
    color: #B3B3B3;  
}