.web-player-container {
    display: flex;
}
.webplayer-outer-body-container {
    display: flex;
    flex-direction: column;
    background-color: #121212;
    height: 100vh;
    width: 100%;
}

.top-bar-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: black;
    height: 60px;
    width: 100%;
}

.webplayer-logout-button {
    background-color: #121212;
    color: white;
    border-radius: 15px; 
    padding: 5px 15px;
    margin-right: 20px;
}

.top-nav-arrow {
    border: 1px solid white;
    display: flex;
    color: white;
    height: 24px;
    width: 24px;
    stroke: #181818;

}

.shortcuts-keyword-webplayer {
    margin-top: 30px;
    margin-left: 50px;
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -.02em;
}

.shortcuts-keyword-webplayer:hover {
    text-decoration: underline;
}