.web-player-container {
    display: flex;
}
.webplayer-outer-body-container {
    display: flex;
    flex-direction: column;
    background-color: #121212;
    height: 100vh;
    width: 100%;
}

.top-bar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height: 60px;
    width: 100%;
}
.webplayer-top-shortcuts-see-all {
    width: 83%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 30px;
    margin-left: 50px;
    transition: .5s;
}

.webplayer-top-shortcuts-see-all:hover {
    text-decoration: underline;
}

.see-all-playlists-keyword-webplayer {
    color: #b3b3b3;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: .1em;
    text-transform: uppercase;
}

.webplayer-logout-button {
    font-family: Proxima Nova Alt;
    border:none;
    background-color: #121212;
    color: white;
    border-radius: 15px; 
    padding: 5px 15px;
    margin-right: 20px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 1.2px;
}

.webplayer-logout-button:hover {
    background-color: #272727;
}


.top-nav-arrow {
    border: 1px solid white;
    display: flex;
    color: white;
    height: 24px;
    width: 24px;
    stroke: #181818;

}

.dropdown-menu {
  float: left;
  overflow: hidden;
}

.dropdown-content-webplayer {
  display: none;
  position: absolute;
  color: white;
  font-weight: bold;
  background-color: #282828;
  min-width: 160px;
  padding: 10px;
  z-index: 2;
  right: 10px;
}

.dropdown:hover .dropdown-content-webplayer {
  display: block;
}

.shortcuts-keyword-webplayer {
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -.02em;
}

.shortcuts-keyword-webplayer:hover {
    text-decoration: underline;
}