.artist-subheader-show {
    padding: 0px 0px 0.08em 30px;
    font-weight: 200;
    font-size: 14px;
    color: white;
}

.artist-show-description {
    height: 100px;
    padding: 0.08em 30px 30px 30px;
    color: hsla(0,0%,100%,.7);
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    overflow: scroll;
    line-height: 20px;
}

.artist-show-container {
    height: 0px;
}

.artist-show-music-tile-photo-1 {
    /* position: absolute; */
    height:300px;
    width: 300px;
    margin: 10px 0px 10px 30px;
}

.artist-show-music-tile-photo-0 {
    display: none;
}

.artist-show-music-tile-photo-2 {
    display: none;
}

.artist-show-info-container {
    display: flex;
    flex-direction: row;
}

.artist-show-name {
    padding: 30px 0px 30px 30px;
    font-size: 72px;
    line-height: 72px;
    font-weight: bolder;
    color: white;
}
.artist-subheader-show {
    transition: .5s;
}
.artist-subheader-show:hover{
    color: #2E77D0;
}
.artist-content-container {
    margin: 30px 0px 40px 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
