.artist-subheader-show {
    padding: 0px 0px 0.08em 30px;
    font-weight: 200;
    font-size: 14px;
    color: white;
    transition: .5s;
    font-family: 'lineto-circular-book';
}

.artist-show-description {
    font-family: 'lineto-circular-book';
    height: 100px;
    padding: 0.08em 30px 30px 30px;
    color: hsla(0,0%,100%,.7);
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    overflow: scroll;
    line-height: 20px;
}

.artist-show-container {
    height: 0px;
}

.artist-show-music-tile-photo-1 {
    display: none;
}

.artist-show-music-tile-photo-0 {
    height:300px;
    width: 300px;
    margin: 10px 0px 10px 30px;
}

.artist-show-music-tile-photo-2 {
    display: none;
}

.artist-show-info-container {
    background: linear-gradient(to bottom, #525252, #2a2a2a);
    display: flex;
    flex-direction: row;
    padding: 20px 0px 20px 0px;
    z-index: 1;
}

.artist-show-name {
    padding: 30px 0px 30px 30px;
    font-size: 72px;
    line-height: 72px;
    font-weight: bolder;
    color: white;
}

.artist-subheader-show:hover{
    color: #2E77D0;
}
.artist-content-container {
    margin: 30px 0px 40px 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.playlist-add-song-list {
    display: none;
    -webkit-app-region: no-drag;
    min-width: 160px;
    max-width: 350px;
    padding: 4px;
    background-color: #282828;
    -webkit-box-shadow: 0 16px 24px rgba(0,0,0,.3), 0 6px 8px rgba(0,0,0,.2);
    box-shadow: 0 16px 24px rgba(0,0,0,.3), 0 6px 8px rgba(0,0,0,.2);
    border-radius: 4px;
    overflow-y: auto;
    margin: 12px;
    max-height: calc(100vh - 24px);
}

.add-song-to-playlist-button:hover .playlist-add-song-list {
  display: block;
}

.add-song-to-playlist-button .add-song-to-playlist-button:hover {
  background-color: hsla(0,0%,100%,.1);
  color: white;
}

.add-song-to-playlist-button {
    padding: 5px;
    font-weight: 100;
}

.dropdown-content-flex:hover .playlist-add-song-list {
  display: block;
}

.dropdown-content-flex {
    display: none;
    background-color: #282828;
    min-width: 160px;
    padding: 10px;
    z-index: 1;
}